[package]
name = "synapse_auto_compressor"
authors = ["William Ashton"]
version = "0.1.3"
edition = "2018"

[package.metadata.maturin]
requires-python = ">=3.7"
project-url = {Source = "https://github.com/matrix-org/rust-synapse-compress-state"}
classifier = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Rust",
]

[dependencies]
openssl = "0.10.32"
postgres = "0.19.0"
postgres-openssl = "0.5.0"
rand = "0.8.0"
serial_test = "0.5.1"
synapse_compress_state = { path = "../", features = ["no-progress-bars"] }
env_logger = "0.9.0"
log = "0.4.14"
log-panics = "2.0.0"
anyhow = "1.0.42"
pyo3-log = "0.6.0"

# Needed for pyo3 support
[lib]
crate-type = ["cdylib", "rlib"]

[dependencies.clap]
version = "3.1.14"
features = ["cargo"]

[dependencies.pyo3]
version = "0.16.4"
features = ["extension-module"]

[dependencies.tikv-jemallocator]
version = "0.5.0"
optional = true

[features]
default = ["jemalloc"]
jemalloc = ["tikv-jemallocator"]
